html {
	font-size: 100%;
} 
body {
	margin: 0 auto;
	padding: 0;
	max-width: 1024px;
	font-family: system-ui, sans-serif;
	font-weight: normal;
} 
main {
	margin: 0 1rem;
}
header {
	padding: 0.2rem;
	border-bottom: 1px solid black;
}
header p {
	font-size: 2.4rem;
	margin: 2rem 1rem;
	padding-left: 1rem;
	font-weight: bold;
}
header p small {
	font-size: 0.8rem;
}
nav ul {
	list-style-type: none;
	border-left: 1px solid black;
	margin: 0;
	padding: 0;
}
nav ul li {
	display: inline-block;
	border-right: 1px solid black;
	padding: 2px 10px;
	margin: 0;
}
nav ul li a.active {
	font-weight: bold;
}
img#logo {
    vertical-align: middle;
    max-width: 80px;
    max-height: 80px;
} 
h1
{
	font-size: 1.8rem;
}
h2
{
	font-size: 1.5rem;
}
h3
{
	font-size: 1.2rem;
}
pre, code {
	font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	tab-size: 1em;
}
code {
	background-color: #eee;
	color: #060;
}
pre {
	padding: 1rem;
	margin: 1rem 0;
	overflow-x: auto;
	background-color: #111;
	color: #6f6;
	border-radius: 0.5rem;
}
pre code {
	background-color: #111;
	color: #6f6;
}
li {
	margin-left: 1rem;
}
p {
	margin: 1rem 0;
}
a {
	color: #009;
	text-decoration: none;
}
blockquote {
	background-color: #eee;
	padding: 0.5rem 1rem;
	margin: 0 0 0 0.5rem;
	border-radius: 0.5rem;
}
div.inline-img img {
	max-width: 100%;
}
footer {
	margin-top: 20px;
	border-top: 1px solid black;
}
footer img {
    height:22px!important;
    margin-left:3px;
    vertical-align:text-bottom;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #eee;
		background-color: #444;
	}
	a {
		color: #99f;
	}
	blockquote {
		color: #fff;
		background-color: #333;
	}
	code {
		background-color: #111;
		color: #6f6;
	}
}
